<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/30e4b378-6682-4d87-9846-4752e36bfa85/resourcegroups/NewsBlog20180512070127ResourceGroup/providers/Microsoft.Web/sites/NewsBlog20180513100706</ResourceId>
    <ResourceGroup>NewsBlog20180512070127ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newsblog20180513100706.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newsblog20180513100706.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NewsBlog20180513100706</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NewsBlog20180513100706</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:newsblog20180512080908dbserver.database.windows.net,1433;Initial Catalog=NewsBlog20180512080908_db;User ID=sqlroot@newsblog20180512080908dbserver;Password=Singularity2077" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NewsBlog.Models.ApplicationDbContext, NewsBlog" MigrationConfiguration="NewsBlog.Migrations.Configuration, NewsBlog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:newsblog20180512080908dbserver.database.windows.net,1433;Initial Catalog=NewsBlog20180512080908_db;User ID=sqlroot@newsblog20180512080908dbserver;Password=Singularity2077</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>